@tailwind base;
@tailwind utilities;
@tailwind components;

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(120, 113, 108);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: rgb(30, 41, 59);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(120, 113, 108);
  border-radius: 14px;
}
